@import "../../global.scss";

@mixin mobile-waitisit($selector, $orientation: "portrait") {
	#{$selector} {
		flex-direction: column;

		> div {
			@if $orientation == "portrait" {
				width: 100%;
			} @else {
				width: 80%;
			}
		}

		&__img {
			order: -1;
		}
	}
}

.waitisit {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-top: 3rem;
	margin-bottom: 5rem;
	&__des {
		order: 1;
		width: 51.75%;
	}

	&__img {
		width: 40%;
	}
}

// Query for both portrait and landscape ipad
@media only screen and (max-device-width: $ipad-landscape-screen-max) {
	.waitisit {
		&__des {
			width: 55%;

			h2,
			p {
				line-height: 1.5;
				margin-bottom: 1rem;
			}
		}

		&__img {
			width: 45%;
		}
	}
}

// Query for portrait phone
@media only screen and (max-device-width: $phone-portrait-screen-max) and (orientation: portrait) {
	@include mobile-waitisit(".waitisit");
}

// Query for landscape phone
@media only screen and (max-device-width: $phone-landscape-screen-max) and (orientation: landscape) {
	@include mobile-waitisit(".waitisit", "landscape");
}
