.navigate-link {
	color: #1a73e8;
	display: inline-block;
	&__arrow {
		position: relative;
	}

	&:hover &__arrow {
		animation: slide-forward 0.5s infinite;
	}
}

@keyframes slide-forward {
	from {
		left: 0;
	}
	to {
		left: 0.5rem;
	}
}
