@import "../../global.scss";

@mixin mobile-resources($selector, $orientation: "portrait") {
	#{$selector} {
		flex-direction: column;

		> div {
			@if $orientation == "portrait" {
				width: 100%;
			} @else {
				width: 80%;
			}
		}

		&__img {
			order: -1;
		}
	}
}

.resources {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-top: 5rem;
	margin-bottom: 2rem;
	&__img {
		width: 25%;
	}
}

// Query for both portrait and landscape ipad
@media only screen and (max-device-width: $ipad-landscape-screen-max) {
	.resources {
		&__img {
			width: 35%;
		}
	}
}

// Query for portrait phone
@media only screen and (max-device-width: $phone-portrait-screen-max) and (orientation: portrait) {
	@include mobile-resources(".resources");
}

// Query for landscape phone
@media only screen and (max-device-width: $phone-landscape-screen-max) and (orientation: landscape) {
	@include mobile-resources(".resources", "landscape");
}
