@import "../../global.scss";

.menu-links {
	display: flex;
	justify-content: space-between;
	width: 60%;

	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;
	}

	&__links {
		width: 22.5%;
	}

	&__title {
		font-weight: 700;
		margin-bottom: 0.5rem;
	}

	&__link {
		font-size: $medium-font;
		padding: 0.5rem 0;
		display: block;
		width: fit-content;
	}
}

@media only screen and (max-device-width: $ipad-landscape-screen-max) {
	.menu-links {
		width: 50%;

		&__links {
			width: 50%;
		}

		&__links:nth-of-type(n + 3) {
			margin-top: 1.5rem;
		}

		&__link {
			font-size: $ipad-font;
		}
	}
}
