@import "../../global.scss";

@mixin mobile-description($selector, $font-size) {

	#{$selector} {
		margin-top: 2rem;

		&__title {
			font-size: $h2-factor * $font-size;
		}

		&__content,
		a {
			font-size: $font-size;
		}
	}
}

.description {
	font-size: 0.75rem;
	width: 57%;

	&__title {
		font-weight: 700;
	}

	&__content {
		color: #666;
		margin: 0.5rem 0;
		line-height: 1.25;
	}
}

// Query for both portrait and landscape ipad
@media only screen and (max-device-width: $ipad-landscape-screen-max) {
	.description {
		font-size: 1rem;
		width: 60%;

		&__title {
			line-height: 1.25;
		}
		&__content {
			line-height: 1.5;
		}
	}
}

// Query for portrait phone
@media only screen and (max-device-width: $phone-portrait-screen-max) and (orientation: portrait) {
	@include mobile-description(".description", $phone-portrait-font);
}

// Query for landscape phone
@media only screen and (max-device-width: $phone-landscape-screen-max) and (orientation: landscape) {
	@include mobile-description(".description", $phone-landscape-font);
}
