.header {
	margin-top: 2rem;

	display: flex;
	justify-content: space-between;

	&__logo {
		width: 7.5rem;
		height: auto;
	}
}

// Query for portrait ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	.header {
		&__logo {
			width: 30%;
		}

		&__nav {
			width: 70%;
			justify-content: flex-end;
			* {
				font-size: 1.25rem;
			}
		}
	}
}
