@import "../../global.scss";

.header {
	margin-top: 2rem;

	display: flex;
	justify-content: space-between;

	&__logo {
		width: 7.5rem;
		height: auto;
	}
}

// Query for portrait ipad
@media only screen and (max-device-width: $ipad-portrait-screen-max) and (orientation: portrait) {
	.header {
		&__logo {
			width: 30%;
		}

		&__nav {
			width: 70%;
			justify-content: flex-end;
			* {
				font-size: 1.25rem;
			}
		}
	}
}

// Query for landscape ipad
@media only screen and (max-device-width: $ipad-landscape-screen-max) and (orientation: landscape) {
	.header {
		&__logo {
			width: 22.5%;
		}

		&__nav {
			width: 60%;
			justify-content: flex-end;
			* {
				font-size: 1rem;
			}
		}
	}
}
