@import "../../global.scss";

$portrait-logo-width: 10rem;

.header {
	margin-top: 2rem;

	display: flex;
	justify-content: space-between;

	&__logo {
		width: 7.5rem;
		height: auto;
	}
}

// Query for portrait ipad
@media only screen and (max-device-width: $ipad-portrait-screen-max) and (orientation: portrait) {
	.header {
		&__logo {
			width: $portrait-logo-width;
		}

		&__nav {
			width: 70%;
			justify-content: flex-end;
			* {
				font-size: 1.25rem;
			}
		}
	}
}

// Query for landscape ipad
@media only screen and (max-device-width: $ipad-landscape-screen-max) and (orientation: landscape) {
	.header {
		&__logo {
			width: $portrait-logo-width;
		}

		&__nav {
			width: 60%;
			justify-content: flex-end;
			* {
				font-size: $ipad-font;
			}
		}
	}
}

// Query for portrait phone
@media only screen and (max-device-width: $phone-portrait-screen-max) and (orientation: portrait) {
	.header {
		&__logo {
			width: 60%;
		}

		&__nav {
			width: 40%;
			* {
				font-size: $phone-portrait-font;
			}
		}
	}
}

// Query for landscape phone
@media only screen and (max-device-width: $phone-landscape-screen-max) and (orientation: landscape) {
	.header {
		&__nav {
			* {
				font-size: $phone-landscape-font;
			}
		}
	}
}
