@import "../../global.scss";

.navigator {
	display: flex;

	&__links {
		display: flex;
		margin-right: 1rem;
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: $medium-font;
		font-weight: 500;
		margin: 0 0.5rem;
		padding: 0 0.5rem;
	}
}
