$medium-font: 0.75rem;
$font-color: #666;
$ipad-portrait-screen-max: 1024px;
$ipad-landscape-screen-max: 1360px;

$btn: (
	background: #1a73e8,
	font-color: white,
	transparent: transparent,
);
