$medium-font: 0.75rem;
$ipad-font: 1rem;
$phone-portrait-font: 2rem;
$phone-landscape-font: 1.25rem;
$font-color: #666;
$ipad-portrait-screen-max: 1024px;
$ipad-landscape-screen-max: 1360px;
$phone-landscape-screen-max: 767px;
$phone-portrait-screen-max: 420px;

$btn: (
	background: #1a73e8,
	font-color: white,
	transparent: transparent,
);
