@import "../../size.global.scss";

.btn {
	font-size: $medium-font;
	color: map-get($map: $btn, $key: font-color);
	background-color: map-get($map: $btn, $key: background);
	padding: 0.55rem 1.15rem;
	border: 0.1rem solid transparent;
	transition-duration: 0.25s;

	border-radius: 0.25rem;

	&:hover {
		background-color: map-get($map: $btn, $key: font-color);
		color: map-get($map: $btn, $key: background);
		border-color: map-get($map: $btn, $key: background);
	}

	&--bold {
		font-weight: 700;
	}

	&--thin {
		font-weight: 300;
	}
}
