@import "../../global.scss";

$underscore-color: rgb(0, 255, 255);
$small-screen-active-color: rgba(0, 0, 255, 0.5);

.link {
	background: linear-gradient($underscore-color 0 0) 0 100% / var(--d, 0) 0.1rem no-repeat;
	transition: 0.5s;
	&:hover {
		--d: 100%;
	}
}

// Query for landscape ipad and down screen
@media only screen and (max-device-width: $ipad-landscape-screen-max) {
	.link {
		background: none;

		&:active {
			background: $small-screen-active-color;
		}
	}
}
